<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="AssetFlow Agent Installer"
    Manufacturer="AssetFlow"
    Version="$(var.Version)"
    UpgradeCode="D0126F0D-53D8-45FA-AF81-92F82F4ECBF7"
    Language="1033"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of AssetFlow Agent is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="AssetFlow Agent" Level="1">
      <ComponentGroupRef Id="AgentFiles" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="RunInstallCommand" After="InstallFiles" Condition="NOT REMOVE" />
      <Custom Action="RunUninstallCommand" Before="RemoveFiles" Condition="REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>

    <Binary Id="PowerShellExe" SourceFile="C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe" />

    <CustomAction
      Id="RunInstallCommand"
      Execute="deferred"
      Impersonate="no"
      Directory="INSTALLFOLDER"
      ExeCommand="-NoProfile -ExecutionPolicy Bypass -File &quot;[#assetflow-agent.ps1]&quot; -Mode Install"
      Return="check"
      BinaryRef="PowerShellExe" />

    <CustomAction
      Id="RunUninstallCommand"
      Execute="deferred"
      Impersonate="no"
      Directory="INSTALLFOLDER"
      ExeCommand="-NoProfile -ExecutionPolicy Bypass -File &quot;[#assetflow-agent.ps1]&quot; -Mode Uninstall"
      Return="ignore"
      BinaryRef="PowerShellExe" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="AssetFlowAgent">
        <ComponentGroup Id="AgentFiles" Directory="INSTALLFOLDER">
          <Component Id="AgentScriptComponent" Guid="A3892A82-8C06-4EE6-9E74-86A534725027">
            <File Id="assetflow-agent.ps1" Source="$(sys.SOURCEFILEDIR)..\..\public\downloads\assetflow-agent.ps1" KeyPath="yes" />
          </Component>
          <Component Id="ReadmeComponent" Guid="61A9CD0D-CB3E-44B1-8ED8-8E2FA0DFA503">
            <File Id="README-agent.txt" Source="$(sys.SOURCEFILEDIR)..\..\public\downloads\README-agent.txt" KeyPath="yes" />
          </Component>
        </ComponentGroup>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
