<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="AssetFlow Agent Uninstaller"
    Manufacturer="AssetFlow"
    Version="$(var.Version)"
    UpgradeCode="A3162AA2-B67E-43C2-A165-8C1FE7F17AAE"
    Language="1033"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of AssetFlow Agent Uninstaller is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="CleanupFeature" Title="AssetFlow Cleanup" Level="1">
      <ComponentRef Id="CleanupScriptComponent" />
      <ComponentRef Id="CleanupReadmeComponent" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CLEANUPFOLDER" Name="AssetFlowCleanup">
        <Component Id="CleanupScriptComponent" Guid="D0CF32AF-9E2D-4F3F-BED0-EB9E825E748F">
          <File Id="AssetflowAgentCleanupPs1" Source="$(sys.SOURCEFILEDIR)..\..\public\downloads\assetflow-agent-cleanup.ps1" KeyPath="yes" />
        </Component>
        <Component Id="CleanupReadmeComponent" Guid="AE7D7A7B-11CD-4256-8A3D-A0A4EE1A5A8A">
          <File Id="ReadmeAgentCleanupTxt" Source="$(sys.SOURCEFILEDIR)..\..\public\downloads\README-agent.txt" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
